{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComa": "all",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "printWidth": 80,
    "endOfLine": "lf"
}