:root {
    --font: 'Open Sans', sans-serif;
    --primary-color: #fe724c;
    --primary-hover-color: #d75633;
    --text-color: #000000;
    --text-secondary-color: #5b5b5e;
    --text-tertiary-color: #9796a1;
    --text-quaternary-color: #9ea1b1;
    --text-placeholder-color: #c4c4c4;
    --white-color: #ffffff;
    --seporator-color: #d4d6e0;
    --shadow-color: #d3d1d840;
    --shadow-secondary-color: #fe724c33;
    --shadow-tertiary-color: #ffc52940;
}

html {
    box-sizing: border-box;
    background-color: var(--white-color);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
